@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body {
    background-image: url("imagens/pacote-d013/imagens/fundo-madeira.jpg");
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
section {
    background-image: url('imagens/pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px; ;
    width: 311px; 
}

iframe {
    height: 469px ;
    width: 270px;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    
}

.social {
    border-radius: 40px;
    height: 50px;
    width: 50px;
    display: block;
    padding: 2px;   
    box-shadow: 2px 2px 2px rgb(0, 0, 0.4);
    box-sizing: border-box;
}
.social:hover {
    margin: 1px; 
    transition: 0.5s;
    border-color: white;
    border: 5px;
}
nav {
    position: absolute;
    right: 0px;
}

