@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body {
    background-image: url("imagens/pacote-d013/imagens/fundo-madeira.jpg");
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
section {
    background-image: url('imagens/pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:100% ;
    width: 311px; 
}

iframe {
    height: 74%;
    width: 267px;
    position: fixed;
    top: 49.9%;
    left: 50%;
    transform: translate(-50%, -50%);  
    overflow: scro;  
}
iframe::content  body {
    margin: 0px;
}
.social {
    border-radius: 40px;
    height: 50px;
    width: 50px;
    display: block;
    padding: 2px;   
}
nav {
    position: absolute;
    right: 0px;
}

